<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FamBridge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- ส่วนหัวของหน้าเว็บ -->
    <header>
        <nav>  
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about_us') }}">About us</a></li>
                <li><a href="{{ url_for('chat') }}">ปรึกษาน้องเชื่อมใจ(Chatbot)</a></li>
                <li><a href="{{ url_for('finding') }}">ปรึกษา/หาทนาย</a></li>
            </ul>

            <ul>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('sign_up') }}">Signup</a></li>
            </ul>
        </nav>
    </header>

    <!-- ส่วนแบนเนอร์หรือภาพประกอบหลัก -->
    <section class="hero">
        <h2> </h2>
        <p> </p>
    </section>

    <!-- ส่วนเนื้อหาหลัก -->
    <main>
        <article>
 
        </article>

        <!-- ส่วนข้างเคียง -->
        <aside>
            <h3>เนื้อหาที่เกี่ยวข้อง</h3>
            <ul>

            </ul>
        </aside>
    </main>

    <!-- ส่วนสรุปเนื้อหา -->
    <section class="summary">
        <h2>สรุปเนื้อหา</h2>
    </section>

    <!-- ส่วนท้ายของหน้าเว็บ -->
    <footer>
        <div><h3>ติดต่อเรา</h3></div>
        <div>support@fambridge.co</div>
        <div>Facebook Messenger : Fambridge</div>
        <br>
        <div>จันทร์-ศุกร์ 9.30-22.00น.</div>
        <div>เสาร์-อาทิตย์, วันหยุดนักขัตฤกษ์ 10.00-19.00น.</div>
    </footer>

</body>
</html>
